<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Following</a>
        </div>
        <div class="logout">
          <img src="<%= profile.profile_image_url_https %>" alt="<%= profile.screen_name %>" />
          <a class="sign-out" href="/logout">Sign out</a>
        </div>
      </div>
    </nav>


    <div id="wrap">
      <div id="main" class="container">

      </div>
    </div>


    <div id="footer">
      <div class="container">
        <p>
          By <a href="http://twitter.com/davidmaragon" target="_new">@davidmaragon</a>
          |
          Source code <a href="https://github.com/DavidQL/followingapp" target="_new">on Github</a>
        </p>
      </div>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54121840-1', 'auto');
      ga('send', 'pageview');

    </script>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>