<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Following</a>
        </div>
        <div class="collapse navbar-collapse">
          <div class="pull-right">
            Logged in as <%= profile.screen_name %>
            <img src="<%= profile.profile_image_url_https %>" alt="<%= profile.screen_name %>" />
          </div>
        </div>
      </div>
    </nav>


    <div id="main" class="container">

    </div>

    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>