<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Following</a>
        </div>
      </div>
    </nav>

    <div id="wrap">
      <div id="main" class="container index col-md-8 col-sm-8 col-xs-12 center-block">
        <h1 class="col-md-12">Think you know your timeline?</h1>

        <div class="rules col-md-12 col-sm-12 col-xs-12 center-block">
            <div class="tout col-md-12 col-sm-12 col-xs-12">
              <img src="/images/gameplay.png" alt="Following game play screen shot" class="col-md-6 col-sm-6 col-xs-12"/>
              <ul class="col-md-5 col-sm-5 col-xs-12 col-md-offset-1 col-sm-offset-1">
                <li><strong>Match each tweet</strong> to the author</li>
                <li>There are <strong>4 rounds</strong>, each progressively more evil</li>
              </ul>
            </div>
            <div class="tout col-md-12 col-sm-12 col-xs-12">
              <img src="/images/round_screenshot.png" alt="Following game play screen shot" class="col-md-6 col-sm-6 col-xs-12"/>
              <ul class="col-md-5 col-sm-5 col-xs-12 col-md-offset-1 col-sm-offset-1">
                <li>You get 3 attempts <strong>per</strong> round</li>
                <li>Bonus points awarded for <strong>finishing quickly!</strong></li>
              </ul>
            </div>                    
        </div>
        <a class="btn btn-default center-block col-md-6 col-sm-6 col-xs-6" href="/sessions/connect">Let's go!</a>
      </div>
    </div>


    <div id="footer">
      <div class="container">
        <p>
          Cooked up by <a href="http://twitter.com/davidmaragon" target="_new">@davidmaragon</a>
          |
          See the source code <a href="https://github.com/DavidQL/followingapp" target="_new">on Github</a>
        </p>
      </div>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54121840-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>