<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Following</a>
        </div>
      </div>
    </nav>


    <div id="main" class="container index col-md-8 col-sm-8 col-xs-12 center-block">
      <h1 class="col-md-12">Something #punchy here</h1>

      <div class="rules col-md-12 col-sm-12 col-xs-8 center-block">
          <!-- TODO: this image has the .correct style applied to the answer -->
          <div class="tout col-md-12 col-sm-12 col-xs-12">
            <img src="/images/gameplay.png" alt="Following game play screen shot" class="col-md-6 col-sm-6 col-xs-12"/>
            <ul class="col-md-5 col-sm-5 col-xs-12 col-md-offset-1 col-sm-offset-1">
              <li><strong>Match each tweet</strong> to the author</li>
              <li>There are <strong>4 rounds</strong>, each progressively more evil</li>
            </ul>
          </div>
          <div class="tout col-md-12 col-sm-12 col-xs-12">
            <img src="/images/round_screenshot.png" alt="Following game play screen shot" class="col-md-6 col-sm-6 col-xs-12"/>
            <ul class="col-md-5 col-sm-5 col-xs-12 col-md-offset-1 col-sm-offset-1">
              <li>You get 3 attempts <strong>per</strong> round</li>
              <li>Bonus points awarded for <strong>finishing quickly!</strong></li>
            </ul>
          </div>                    
      </div>
      <a class="btn btn-default center-block col-md-6 col-sm-6 col-xs-6" href="/sessions/connect">Let's go!</a>
    </div>
  </body>
</html>